.cartwrapper {
    background-color: lightseagreen;
    padding: 15px;
    margin: 1px;
    display: none;
    position: absolute;
    right: 0;
    border-radius: 10%;
    z-index: 1;
}

.div:hover .cartwrapper {
    display: block; 
    align-items: center;
}


.counter {
    font-size: 24px;
    position: absolute;
    color: white;
    margin-block:auto;
    margin-left:0.4em;
}
